<%= render "shared/header" %>

<h2>following list</h2>

<div class="que">
<% @followings.each do |following| %>
  <div>
    <ul><%= link_to following.nickname, [following] %></ul>
  </div>
<% end%>
</div>

<%= render "shared/footer" %>