

.itm {
  border: solid 1px #000;
  margin: 3px;
  padding: 3px;
  width: 23%;

}

span {
  color: green;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.like {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
  margin-bottom: -2vh;
}

.moji {
  margin-top: -0.3vh;
}

.fname {
  display: flex;
  margin-top: 2vh;
  justify-content: center;
  justify-content: space-around;
}

.fofo {
  margin-top: 2.3vh;
  display: flex;
  justify-content: space-between;
}
